body
{
    padding: 0;
    margin: 0;
    scroll-behavior: none;
    overflow: hidden;
    cursor: url(./images/aim1.png) 50 50, default;
}
::selection
{
    color: brown;
}
.cursor-def {
    cursor: url(./images/cursor_def.png), default;
}
.cursor-pointer {
    cursor: url(./images/cursor_def.png), pointer;
}

/*
=======================================================
------------------------Screens------------------------
=======================================================
*/
#screen
{
    cursor: url(./images/aim1.png) 50 50, default;
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-image: url(./images/game-bg.png);
    animation: game-bg-anim 50s linear infinite;
}
@keyframes game-bg-anim
{
    0% {
        background-position: 0 calc(100% - 100vh);
    }
    100% {
        background-position: 0 0;
    }
}
.del
{
    display: none;
}

/*
=======================================================
-----------------------Spaceship-----------------------
=======================================================
*/
.spaceship
{
    position: absolute;
    height: 250px;
    width: 250px;
    top: calc(100% - 300px);
    left: calc(50% - 125px);
    background-size: cover;
    background-image: url(./images/spaceship.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
/*
=======================================================
------------------Progress-Bar-Health------------------
=======================================================
*/
.progress
{
    cursor: url(./images/aim1.png) 50 50, default;
    height: 15px;
    margin-top: -10px;
    border-radius: 20px;
    border: 2px solid rgb(138, 0, 0);
}
.progress::-moz-progress-bar
{
    border-radius: 20px;
    background-color: brown;
}
.progress::-webkit-progress-bar
{
    border-radius: 20px;
    background-color: rgb(112, 90, 90);
}
.progress::-webkit-progress-value
{
    border-radius: 20px;
    background-color: brown;
}
#playerHealthbar {
    display: none;
    height: 20px;
}

/*
=====================================================
----------------------Meteorits----------------------
=====================================================
*/
.meteorit-pic
{
    cursor: url(./images/aim1.png) 50 50, default;
    clip-path: polygon(43% 14%, 65% 13%, 83% 25%, 93% 51%, 75% 74%, 55% 86%, 20% 87%, 10% 78%, 5% 54%, 19% 26%);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/meteorit.png);
}
@keyframes meteorit-anim {
    0% { }
    100% {
        top: calc(100% - 400px);
        left: calc(50% - 75px);
    }
}
.destroy-pic
{
    background-position: 50%;
    background-size: 110%;
    background-image: url(./images/meteorite-gif.gif);
}
.destroyed
{
    display: none;
}

/*
=======================================================
-----------------------Game-Over-----------------------
=======================================================
*/
div.gameOver 
{
    cursor: url(./images/aim1.png) 50 50, default;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 1;
    display: none;
}
label.gameOver 
{
    cursor: url(./images/aim1.png) 50 50, default;
    font-family: 'Righteous';
    animation: gameOver-anim 2s linear forwards;
}
@keyframes gameOver-anim {
    0% {
        color: rgba(165, 42, 42, 0);
        font-size: 0px;
    }
    100% {
        color: brown;
        font-size: 100px;
    }
}

/*
======================================================
------------------------Levels------------------------
======================================================
*/
div.levelLabel 
{
    cursor: url(./images/aim1.png) 50 50, default;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 98;
}
label.levelLabel 
{
    cursor: url(./images/aim1.png) 50 50, default;
    font-family: 'Righteous';
    animation: gameOver-anim 2s linear forwards;
}

/*----------------------I-GAME----------------------*/
#i-game {
    display: none;
}
/*
======================================================
---------------------Pause-&-Bulb---------------------
======================================================
*/
.game-button
{
    opacity: 0.6;
    height: 80px;
    width: 80px;
    background-position: 50% 50%;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-color:rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1); 
}
.gb1 {
    position: absolute;
    z-index: 1;
    margin-top: 15px;
    margin-left: 15px;
    background-image: url(./images/pause.png);
}
.game-button:hover
{
    cursor: url(./images/cursor_def.png), default;
    opacity: 1;
    outline-offset: 5px;
}
.game-button:active
{
    opacity: 0.8;
    outline-offset: 2px;
    height: 75px;
    width: 75px;
}
.gb1:active {
    margin-top: 17.5px;
    margin-left: 17.5px;
}

/*
======================================================
--------------------KeyPress-Items--------------------
======================================================
*/
.game-items
{
    cursor: url(./images/cursor_def.png), default;

    position: absolute;
    height: 60px;
    width: 60px;

    background-position: 50% 50%;
    background-size: 99% 99%;
    background-repeat: no-repeat;
    background-color:rgba(255, 255, 255, 0);
    border-radius: 50px;

    border: 2px solid rgba(255, 255, 255, 0.5);
    text-shadow: none;
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1); 
}
.gi1 {
    bottom: 160px;
    left: calc(50% - 190px - 60px);
    background-image: url(./images/super-shot-img.png);
}
.gi2 {
    bottom: 60px;
    left: calc(50% - 170px - 60px);
    background-size: 95% 95%;
    background-image: url(./images/total-shot-img.png);
}
.gi3 {
    bottom: 160px;
    left: calc(50% + 190px);
    background-size: 60% 60%;
    background-image: url(./images/shop-item-energy-img.png);
}
.gi4 {
    bottom: 60px;
    left: calc(50% + 170px);
    background-size: 80% 80%;
    background-image: url(./images/shop-item-fullenergy.png);
}
/*--------------------------------------------------*/
.lable-key
{
    cursor: url(./images/cursor_def.png), default;
    position: absolute;
    color: rgba(255, 255, 255);
    font-size: 20pt;
    font-family: 'Righteous';
}
.key-w {
    bottom: 150px;
    left: calc(50% - 190px - 60px);
}
.key-q {
    bottom: 50px;
    left: calc(50% - 170px - 60px);
}
.key-e {
    bottom: 150px;
    left: calc(50% + 190px);
}
.key-s {
    bottom: 50px;
    left: calc(50% + 170px);
}
/*--------------------------------------------------*/
.lable-count
{
    cursor: url(./images/cursor_def.png), default;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12pt;
    font-family: 'Righteous';
}
.count-super-shot {
    bottom: 150px;
    left: calc(50% - 200px);
}
.count-total-shot {
    bottom: 50px;
    left: calc(50% - 180px);
}
.count-energy-item {
    bottom: 150px;
    left: calc(50% + 180px + 60px);
}
.count-shield-item {
    bottom: 50px;
    left: calc(50% + 160px + 60px);
}
/*----------------------MONEY-----------------------*/
.money-container
{
    display: flex;
    position: absolute;
    height: 42px;
    width: 130px;
    left: 20px;
    bottom: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 22pt;
    font-family: 'Righteous';
    background-color: #3c3c3c;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}
/*--------------------------------------------------*/

/*
======================================================
----------------------Game-Pause----------------------
======================================================
*/
#pause-screen
{
    cursor: url(../images/cursor_def.png), default;
    z-index: 97;
    /* display: flex; */
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.pause-bg
{
    cursor: url(./images/cursor_def.png), default;

    opacity: 0.7;
    position: absolute;
    height: 100vh;
    width: 100vw;

    --s: 96px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
      
    background-size: var(--s) calc(var(--s)*0.577);
}
.pause-button
{
    cursor: url(./images/cursor_def.png), default;
    position: relative;
    opacity: 0.6;
    height: 120px;
    width: 120px;
    margin: 10px;

    background-position: 50% 50%;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-color:rgba(255, 255, 255, 0);

    border: 3px solid rgba(255, 255, 255);
    outline: 3px solid;
    outline-color: rgba(255, 255, 255);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1); 
}
.pause-button:hover {
    opacity: 1;
    outline-offset: 5px;
}
.pause-button:active {
    cursor: url(./images/cursor_def.png), default;
    margin: 5px;
}
#id-pause-back      { background-image: url(./images/back_ico.png);     }
#id-pause-settings  { background-image: url(./images/settings_ico.png); }
#id-pause-shop      { background-image: url(./images/shop_ico.png);     }
#id-pause-bulb      { background-image: url(./images/bulb_off.png);     }
#id-pause-continue  { background-image: url(./images/continue_ico.png); }

/*
=======================================================
---------------------BUBL-Screens----------------------
=======================================================
*/
#bulb-screen
{
    cursor: url(../images/cursor_def.png), default;
    z-index: 97;
    /* display: flex; */
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* align-items: center;
    justify-content: center;
    pointer-events: none; */
}
.bulb-bg
{
    cursor: url(./images/cursor_def.png), default;

    opacity: 0.7;
    position: absolute;
    height: 100vh;
    width: 100vw;

    --s: 96px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
      
    background-size: var(--s) calc(var(--s)*0.577);
}
.hint
{
    cursor: url(./images/cursor_def.png), default;
    opacity: 1;
    position: absolute;
    height: 850px;
    width: 1500px;
    top: calc(50% - 425px);
    left: calc(50% - 750px);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(./images/bulb_bg.png);
}
#bulb-back-id
{
    cursor: url(./images/cursor_def.png), default;
    display: inline-flex;
    position: absolute;
    margin-left: 16px;
    font-size: 60pt;
    font-family: 'Righteous';
    color: rgba(255, 255, 255, 0.8);
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1);
}
#bulb-back-id:hover
{
    cursor: url(./images/cursor_def.png), default;
    margin-top: -5px;
    font-size: 65pt;
    color: rgba(255, 255, 255, 1);
}
#bulb-back-id:active
{
    cursor: url(./images/cursor_def.png), default;
    margin-top: -3px;
    font-size: 62pt;
    color: rgba(255, 255, 255, 0.8);
}
