#shop-screen
{
    cursor: url(../images/cursor_def.png), default;
    z-index: 97;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.shop-bg
{
    opacity: 0.7;
    position: absolute;
    height: 100vh;
    width: 100vw;

    --s: 96px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
      
    background-size: var(--s) calc(var(--s)*0.577);
}
.shop-container
{
    display: inline-flex;
    position: absolute;
    height: 400px;
    width: 550px;
    top: calc(50% - 200px - 5px);
    left: calc(50% - 275px - 5px);
    background: rgba(41, 41, 41);
    border: 5px rgba(190, 20, 20, 0.5);
    border-style: solid;
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1);
}
.shop-container:hover
{
    background: rgba(41, 41, 41);
    box-shadow: inset 0 0 20px #000000;
    border: 5px solid rgba(122, 13, 13, 0.5);
}
/*--------------shop-items-a--------------*/
.shop-items
{
    display: grid;
    position: relative;
    height: 100%;
    width: 100%;
}
#shop-back-id
{
    width: min-content;
}
.shop-items a
{
    cursor: url(../images/cursor_def.png), default;
    display: inline-flex;
    height: 65px;
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 29pt;
    font-family: 'Righteous';
    color: rgba(255, 255, 255, 0.6);
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1);
}
.shop-items a:hover
{
    cursor: url(../images/cursor_def.png), default;
    font-size: 32pt;
    color: rgba(224, 224, 224, 0.6);
    text-shadow: rgb(235, 38, 38) 1px 1px 10px;
}
.shop-items a:active
{
    cursor: url(../images/cursor_def.png), default;
    font-size: 30pt;
    color: rgba(202, 202, 202, 0.6);
    text-shadow: rgb(156, 31, 31) 1px 1px 20px;
}
/*--------------Shop-Section--------------*/
.shop-section {
    cursor: url(../images/cursor_def.png), default;
    display: flexbox;
}
.shop-section button
{
    cursor: url(../images/cursor_def.png), default;
    font-size: 16pt;
    font-family: 'Righteous';
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1);
}
.shop-section button:hover
{
    font-size: 19pt;
    color: rgba(224, 224, 224, 0.6);
    text-shadow: rgb(235, 38, 38) 1px 1px 10px;
}
.shop-section button:active
{
    font-size: 17pt;
    color: rgba(202, 202, 202, 0.6);
    text-shadow: rgb(156, 31, 31) 1px 1px 20px;
}
#shop-section-abilities-id {
    margin-left: 195px;
}
#shop-section-energy-id {
    color: rgba(255, 255, 255, 0.8);
}

/*---------------shop-items---------------*/
#shop-item-energy, #shop-item-shield, 
#shop-item-damage1, #shop-item-damage2, #shop-item-damage3,
#shop-item-super-shot, #shop-item-total-shot {
    border-radius: 20px;
    background-color: #1d1d1d;
}

.title-shop-item
{
    width: 100px;
    margin: 15px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 20pt;
    font-family: 'Righteous';
}
.deco-shop-item
{
    margin: 10px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 35px;
}
.text-shop-item
{
    width: 235px;
    margin: 20px;
    margin-left: 0px;
    font-size: 14pt;
    font-family: 'Tilt Neon';
}
.shop-img
{
    height: 48px;
    width: 55px;
    margin: 9px;
    background-position: 50% 50%;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-color:#3c3c3c;
    border-radius: 17px;
}
.shop-item-energy-img {
    background-size: 60% 60%;
    background-image: url(../images/shop-item-energy-img.png);
}
.shop-item-shield-img {
    background-size: 60% 60%;
    background-image: url(../images/shop-item-fullenergy.png);
}
.shop-item-super-shot-img {
    background-image: url(../images/super-shot-img.png);
}
.shop-item-total-shot-img {
    background-image: url(../images/total-shot-img.png);
}
.shop-item-damage1-img {
    background-image: url(../images/shop-item-damage1-img.png);
}
.shop-item-damage2-img {
    background-image: url(../images/shop-item-damage2-img.png);
}
.shop-item-damage3-img {
    background-image: url(../images/shop-item-damage3-img.png);
}

.price-shop-item
{
    height: 29px;
    width: 75px;
    margin: 9px;
    padding: 9.5px;
    text-align: center;
    font-size: 14pt;
    background-color: #3c3c3c;
    border-radius: 17px;
}

/*-------------players-items--------------*/
.container-have-items
{
    display: inline-flex;
    height: 65px;
    margin: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
    font-size: 16pt;
    font-family: 'Righteous';
    color: rgba(255, 255, 255, 0.6);
}
#id-count-stars
{
    display: flex;
    position: absolute;
    height: 40px;
    width: 90px;
    left: 15px;
    bottom: 20px;
    padding-top: 8px;
    
    font-size: 16pt;
    text-align: center;
    justify-content: center;
    
    background-color: #3c3c3c;
    border-radius: 17px;
}
.container-have-shop-items
{
    display: inline-flex;
    position: absolute;
    font-size: 20pt;
    right: 5px;
    bottom: 20px;
}
.ico-energy {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    background-image: url(../images/shop-item-energy-img.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50% 50%;
}
.ico-shield {
    
    height: 35px;
    width: 35px;
    margin-right: 5px;
    background-image: url(../images/shop-item-fullenergy.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ico-super-shot {
    
    height: 35px;
    width: 35px;
    margin-right: 5px;
    background-image: url(../images/super-shot-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ico-total-shot {
    
    height: 35px;
    width: 35px;
    margin-right: 5px;
    background-image: url(../images/total-shot-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ico-damage {
    height: 35px;
    width: 35px;
    margin-right: 5px;
    background-image: url(../images/ico-damage.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* ---------------------------------------------- */
#id-section-energy {
    display: block;
}
#id-section-damage {
    display: none;
}
#id-section-abilities {
    display: none;
}

#id-have-items-energy {
    display: flex;
}
#id-have-items-damage {
    display: none;    
}
#id-have-items-abilities {
    display: none;
}

/* ---------------------------------------------- */
