@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.load-screen
{
    z-index: 99;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.load-bg
{
    opacity: 0.6;
    position: absolute;
    height: 100vh;
    width: 100vw;
    --s: 85.5px; /* control the size */
    --_g: conic-gradient(from 30deg at 50% 25%,#0000 300deg,#cd2942 0);
    background:
        var(--_g) calc(0.2885*var(--s)) calc(7*var(--s)/12),
        var(--_g) 0 calc(var(--s)/12),
        conic-gradient(from 120deg at 50% calc(250%/3), #62928d 120deg, #0000 0),
        repeating-conic-gradient(from 30deg, #0000 0 60deg,#e8cba9 0 120deg),
        repeating-conic-gradient(#33152e 0 60deg, #62928c 0 120deg, #414352 0 180deg);
    
    background-size: calc(0.577*var(--s)) var(--s);
}
.button-load
{
    position: absolute;
    cursor: pointer;
    height: 30vh;
    width: 40vw;
    margin-top: 35vh;
    margin-left: 30vw;
    font-family: 'Righteous';
    font-size: 100px;
    color: rgba(43, 0, 0, 0.95);
    background: rgba(124, 24, 24, 0.5);
    border: 15px solid rgba(190, 20, 20, 0.5);
    outline: 4px solid;
    outline-color: rgba(255, 55, 55, 0.6);
    outline-offset: 0px;
    border-style: double;
    text-shadow: none;
    transition: all 1.5s cubic-bezier(0.22, 1, 0.22, 1); 
}
.button-load:hover
{
    font-size: 110px;
    box-shadow: inset 0 0 20px #000000;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 20px;
    color: #ffdfdf;
}
.button-load:active
{
    background: rgba(90, 16, 16, 0.5);
    height: 28vh;
    width: 38vw;
    margin-top: 36vh;
    margin-left: 31vw;
    font-size: 105px;
}
