@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.load-screen
{
    z-index: 99;
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.load-bg
{
    opacity: 0.6;
    position: absolute;
    height: 100vh;
    width: 100vw;

    --s: 96px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
      
    background-size: var(--s) calc(var(--s)*0.577);
}
.button-load
{
    position: absolute;
    cursor: pointer;
    height: 30vh;
    width: 40vw;
    margin-top: 35vh;
    margin-left: 30vw;
    font-family: 'Righteous';
    font-size: 100px;
    color: rgba(0, 0, 0, 0.5);
    background: rgba(124, 24, 24, 0.5);
    border: 15px solid rgba(190, 20, 20, 0.5);
    outline: 4px solid;
    outline-color: rgba(255, 55, 55, 0.6);
    outline-offset: 0px;
    border-style: double;
    text-shadow: none;
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1); 
}
.button-load:hover
{
    font-size: 110px;
    box-shadow: inset 0 0 20px #000000;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 20px;
    color: rgba(255, 255, 255, 0.6);
}
.button-load:active
{
    background: rgba(90, 16, 16, 0.5);
    height: 28vh;
    width: 38vw;
    margin-top: 36vh;
    margin-left: 31vw;
    font-size: 105px;
}
