#shop-screen
{
    cursor: url(../images/cursor_def.png), default;
    z-index: 97;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.shop-bg
{
    opacity: 0.7;
    position: absolute;
    height: 100vh;
    width: 100vw;

    --s: 96px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
      
    background-size: var(--s) calc(var(--s)*0.577);
}
.shop-container
{
    display: inline-flex;
    position: absolute;
    height: 400px;
    width: 550px;
    top: calc(50% - 200px - 5px);
    left: calc(50% - 275px - 5px);
    background: rgba(41, 41, 41);
    border: 5px rgba(190, 20, 20, 0.5);
    border-style: solid;
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1);
}
.shop-container:hover
{
    background: rgba(41, 41, 41);
    box-shadow: inset 0 0 20px #000000;
    border: 5px solid rgba(122, 13, 13, 0.5);
}
/*--------------shop-items-a--------------*/
.shop-items
{
    display: grid;
    position: relative;
    height: 100%;
    width: 100%;
}
#shop-back-id
{
    width: min-content;
}
.shop-items a
{
    cursor: url(../images/cursor_pointer.png), pointer;
    display: inline-flex;
    height: 65px;
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 29pt;
    font-family: 'Righteous';
    color: rgba(255, 255, 255, 0.6);
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1);
}
.shop-items a:hover
{
    cursor: url(../images/cursor_pointer.png), pointer;
    font-size: 32pt;
    color: rgba(224, 224, 224, 0.6);
    text-shadow: rgb(235, 38, 38) 1px 1px 10px;
}
.shop-items a:active
{
    cursor: url(../images/cursor_pointer.png), pointer;
    font-size: 30pt;
    color: rgba(202, 202, 202, 0.6);
    text-shadow: rgb(156, 31, 31) 1px 1px 20px;
}

/*---------------shop-items---------------*/
#shop-item-energy {
    border-radius: 20px;
    background-color: #1d1d1d;
}
#shop-item-shield {
    border-radius: 20px;
    background-color: #1d1d1d;
}

.title-shop-item
{
    width: 100px;
    margin: 15px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 20pt;
    font-family: 'Righteous';
}
.deco-shop-item
{
    margin: 10px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 35px;
}
.text-shop-item
{
    width: 235px;
    margin: 20px;
    margin-left: 0px;
    font-size: 14pt;
    font-family: 'Tilt Neon';
}
.shop-item-energy-img
{
    height: 48px;
    width: 55px;
    margin: 9px;
    background-size: 60% 60%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/shop-item-energy-img.png);
    background-color:#3c3c3c;
    border-radius: 17px;
}
.shop-item-shield-img
{
    height: 48px;
    width: 55px;
    margin: 9px;
    background-size: 80% 80%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/shop-item-shield-img.png);
    background-color:#3c3c3c;
    border-radius: 17px;
}
.price-shop-item
{
    height: 32px;
    width: 70px;
    margin: 9px;
    padding: 8px;
    text-align: center;
    font-size: 16pt;
    background-color: #3c3c3c;
    border-radius: 17px;
}

/*-------------players-items--------------*/
.container-have-items
{
    display: inline-flex;
    height: 65px;
    width: 95%;
    margin: 10px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 26pt;
    font-family: 'Righteous';
    color: rgba(255, 255, 255, 0.6);
}
#id-count-stars
{
    height: 32px;
    width: 70px;
    padding: 8px;
    text-align: center;
    font-size: 16pt;
    background-color: #3c3c3c;
    border-radius: 17px;
}
.container-have-shop-items
{
    display: inline-flex;
    position: absolute;
    font-size: 20pt;
    right: 20px;
    bottom: 20px;
}
.ico-energy {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    background-image: url(../images/shop-item-energy-img.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50% 50%;
}
.ico-shield {
    
    height: 35px;
    width: 35px;
    margin-right: 10px;
    background-image: url(../images/shop-item-shield-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
