.winScreen {
    cursor: url(./images/aim1.png) 50 50, default;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 1;
    display: none;
}

label.winScreen {
    cursor: url(./images/aim1.png) 50 50, default;
    font-family: 'Righteous';
    animation: gameOver-anim 2s linear forwards;
}