@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
#settings-screen
{
    cursor: url(../images/cursor_def.png), default;
    display: none;
    z-index: 98;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.settings-bg
{
    opacity: 0.7;
    position: absolute;
    height: 100vh;
    width: 100vw;

    --s: 96px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
      
    background-size: var(--s) calc(var(--s)*0.577);
}
.settings-container
{
    display: inline-flex;
    position: absolute;
    height: 400px;
    width: 550px;
    top: calc(50% - 200px - 5px);
    left: calc(50% - 275px - 5px);
    
    background:
    linear-gradient(90deg, rgba(41, 41, 41) 0%, rgba(41, 41, 41) 29.7%, rgba(255,255,255,0) 30%, rgba(41, 41, 41) 30.3%, rgba(41, 41, 41) 91%),
    linear-gradient(0deg, rgba(0,0,0,0) 9%, rgba(255,255,255,0.6) 10%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.6) 90%, rgba(0,0,0,0) 91%),
    linear-gradient(90deg, rgba(41, 41, 41) 0%, rgba(41, 41, 41) 100%);

    border: 5px rgba(190, 20, 20, 0.5);
    border-style: solid;
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1);
}
.settings-container:hover
{
    background:
    linear-gradient(90deg, rgba(41, 41, 41) 0%, rgba(41, 41, 41) 29.7%, rgba(255,255,255,0) 30%, rgba(41, 41, 41) 30.3%, rgba(41, 41, 41) 91%),
    linear-gradient(0deg, rgba(0,0,0,0) 9%, rgba(255,255,255,0.4) 10%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.4) 90%, rgba(0,0,0,0) 91%),
    linear-gradient(90deg, rgba(41, 41, 41) 0%, rgba(41, 41, 41) 100%);

    box-shadow: inset 0 0 20px #000000;
    border: 5px solid rgba(122, 13, 13, 0.5);
}
/*---------------settings-items---------------*/
.settings-items
{
    display: block;
    position: relative;
    height: 100%;
    width: 35%;
}
.settings-items a
{
    cursor: url(../images/cursor_def.png), pointer;
    margin-left: 10px;
    font-size: 29pt;
    font-family: 'Righteous';
    color: rgba(255, 255, 255, 0.6);
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1);
}
.settings-items a:hover
{
    cursor: url(../images/cursor_def.png), pointer;
    font-size: 32pt;
    color: rgba(224, 224, 224, 0.6);
    text-shadow: rgb(235, 38, 38) 1px 1px 10px;
}
.settings-items a:active
{
    cursor: url(../images/cursor_def.png), pointer;
    font-size: 30pt;
    color: rgba(202, 202, 202, 0.6);
    text-shadow: rgb(156, 31, 31) 1px 1px 20px;
}
/*-------------display-settings-items-------------*/
#sounds-set-id {
    display: none;
}
#game-set-id {
    display: none;
}
/*-------------settings-items-set-------------*/
.settings-items-set
{
    display: block;
    position: relative;
    height: 100%;
    width: 70%;
}
.settings-items-set:nth-child(n)
{
    margin-top: 60px;
    margin-left: 20px;
    font-size: 18pt;
    font-family: 'Tilt Neon';
    color: rgba(255, 255, 255, 0.6);
    transition: all 1s cubic-bezier(0.22, 1, 0.22, 1);
}
.settings-items-set div
{
    margin-bottom: 20px;
}

/*-------------Brightness--------------*/
#id-brightness
{
    appearance: none;
    opacity: 0.8;
    height: 6px;
    width: 150px;
    outline: none;
    margin: 12px 0px 0px 30px;
    border-radius: 100px;
    background: #920d0d;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#id-brightness:hover {
    opacity: 1;
}
#id-brightness::-webkit-slider-thumb {
    cursor: url(../images/cursor_def.png), pointer;
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #690909;
}

/*------------Sounds-On/Off------------*/
/* The range */
#sounds-set-id input[type="range"]
{
    appearance: none;
    opacity: 0.8;
    height: 6px;
    width: 150px;
    outline: none;
    margin: 12px 0px 0px 40px;
    border-radius: 100px;
    background: #920d0d;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#sounds-set-id input[type="range"]:hover {
    opacity: 1;
}
#sounds-set-id input[type="range"]::-webkit-slider-thumb {
    cursor: url(../images/cursor_def.png), pointer;
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #690909;
}
/* The checkbox */
#id-general-sound {
    -webkit-appearance: none;
    appearance: none;
    width: 64px;
    margin: 0;
    margin-left: 25px;
    padding-left: 33px;
    border-radius: 16px;
    background: radial-gradient(circle 12px, #690909 100%, transparent calc(100% + 1px)) rgb(121, 51, 51) -16px;
    transition: 0.3s ease-in-out;
} 
#sounds-set-id input[type="checkbox"]::before {
    content: "OFF";
    font: bold 12px/32px Verdana;
    color: rgb(206, 206, 206);
    text-shadow: 0 1px black;
}
#sounds-set-id input[type="checkbox"]:checked::before {
    content: "ON";
}
#sounds-set-id input[type="checkbox"]:checked {
    padding-left: 8px;
    background-color: #920d0d;
    background-position: 16px;
}

/*------------Select-Theme-------------*/
#game-set-id
{
    font-size: 17pt;
}
